<ul class="breadcrumbs">
  <% breadcrumbs.each do |breadcrumb| %>
    <% if breadcrumb.link? %>
      <li>
        <%= link_to breadcrumb.label, breadcrumb.url, breadcrumb.link_attributes %>
      </li>
    <% else %>
      <li>
        <%= breadcrumb.label %>
      </li>
    <% end %>
  <% end %>
</ul>
